## Configuration
.env
.env.*
!.env.local
!.env.*.example

## Rollup
/**/.rollup.cache/
rollup.config-*
rollup.config-*

## Node
/**/node_modules/

## Build/Test
/docker/data/
/**/dist/
/**/coverage/

## Other
/.vscode/*
!/.vscode/tasks.json

## Yarn
/.yarn/*
!/.yarn/patches
!/.yarn/plugins
!/.yarn/releases
!/.yarn/sdks

# Swap the comments on the following lines if you don't wish to use zero-installs
# Documentation here: https://yarnpkg.com/features/zero-installs
# !/.yarn/cache
/.pnp.*
